fastapi
uvicorn[standard]
langchain
langchain-community
langchain-groq
langchain-text-splitters
chromadb
sentence-transformers
python-dotenv
unstructured
streamlit
gTTS
pypdf
beautifulsoup4
pysqlite3-binary